body{
    background-color: black;
    color: white;
    
}


 .form{
     max-width: 500px;
     text-align: center;
     position: fixed;
     margin-left: 30%;
 }
 #name{
     border: 5px lightblue solid;
    margin-bottom: 10px;
 }
 #email{
     border: 5px green solid;
    }
  #dob{
     border: 5px orange solid;
    }
    #divbox{
      display: flex;
      flex-direction: row;
    }