body{
    background-color: black;
    color: white;
    
}

.tooltip {
    position: relative;
    display: inline-block;

  }
  .tooltip .tiptext {
    visibility: hidden;
    width: 120px;
    background-color: blue;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    
  }
  
  .tooltip:hover .tiptext {
    visibility: visible;
    opacity: 1;
  }
 .form{
     max-width: 500px;
     text-align: left;
     position: fixed;
 }
 #name{
     border: 5px lightblue solid;
    margin-bottom: 10px;
 }
 #email{
     border: 5px green solid;
    }
  #dob{
     border: 5px orange solid;
    }